.service-block-xn-7 {
    display: flex;
    width: 1440px;
    height: 780px;
    align-items: center;
    background: #F8F8F8;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 0;
}

.service-block-xn-70 {
    display: flex;
    position: relative;
    top: 32px;
}

.service-block-xn-70 a {
    position: relative;
    bottom: 20px;
    color: #0E2F4B;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    text-decoration: none;
}

.tab-panel-xn-7 {
    width: 1170px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FDC13D;
    position: relative;
    top: 0;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.div-block-1 {
    display: flex;
    width: 270px;
    height: 270px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: center;
}

.div-block-2 {
    display: flex;
    width: 270px;
    height: 270px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: center;
}

.div-block-3 {
    display: flex;
    width: 270px;
    height: 270px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: center;
}

.container-xn-7 {
    display: flex;
    position: relative;
    top: 100px;
    flex-wrap: wrap;
    flex-direction: column;
}

.service-block-xn-7 h4 {
    color: #0E2F4B;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    display: flex;
    width: 977.15px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
}

.service-block-xn-7 p {
    color: #0E2F4B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    position: relative;
    bottom: 40px;
}

.tab-panel-xn-7 a {
    color: #0E2F4B;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    text-decoration: none;
    
}

.service-block-xn-7 h2 {
    color: #0E2F4B;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    position: relative;
    top: 90px;
}

.link-xn-7 {
    position: relative;
    bottom: 40px;
}